<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @application.course %>
</p>

<p>
  <strong>Section:</strong>
  <%= @application.section %>
</p>

<p>
  <strong>Student first name:</strong>
  <%= @application.student_first_name %>
</p>

<p>
  <strong>Student last name:</strong>
  <%= @application.student_last_name %>
</p>

<p>
  <strong>Student email:</strong>
  <%= @application.student_email %>
</p>

<p>
  <strong>Parent name:</strong>
  <%= @application.parent_name %>
</p>

<p>
  <strong>Parent email:</strong>
  <%= @application.parent_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @application.phone %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @application.reference %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @application.experience %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
