<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Roadmap:</strong>
  <%= @topic.roadmap_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @topic.position %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
