<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Our courses</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="/courses/html">
                <img class="media-object course-img" src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" alt="html5">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Website Design</h4>
              <div>Create beautiful, single-page sites. You'll learn how to use HTML and CSS - the basic building blocks of every website and web application.</div>
              <hr>
              <div class="panel-box">
                <div><strong>Level:</strong> beginner</div>
                <div><strong>Prerequisites:</strong> none</div>
                <a class="class-list-btn btn btn-default" href="/courses/html">Learn more</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="/courses/rails_1">
                <img class="media-object course-img" src="http://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" alt="rails">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Web App Development - Phase 1</h4>
              <div>Build a dynamic web application in Rails. You'll get an intro to programming in Ruby by creating a simple text-based game or calculator.</div>
              <hr>
              <div class="panel-box">
                <div><strong>Level:</strong> beginner</div>
                <div>
                  <strong>Prerequisites:</strong>
                  <a href="/courses/html">Website Design</a> or equivalent experience
                </div>
                <a class="class-list-btn btn btn-default" href="/courses/rails_1">Learn more</a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object course-img" src="http://examples.phaser.io/assets/sprites/phaser2.png" alt="rails">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">JavaScript Game Development</h4>
              <div>Design your own 2D platformer</div>
              <h4>Coming soon!</h4>
            </div>
          </div>
        </div>
      </div>
      <%= form_for(@course_idea, html: {class: 'spacer'}) do |f| %>
        <% if @course_idea.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@course_idea.errors.count, "error") %> prohibited this course_idea from being saved:</h2>

            <ul>
            <% @course_idea.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <h3>Don't see what you like?</h3>
        <h5>Tell us what you want to learn</h5>
        <div class="form-group">
          <%= f.label :email, "Email (optional)" %><br>
          <%= f.text_field :email, class: 'form-control', placeholder: "ada.lovelace@example.com" %>
        </div>
        <div class="form-group">
          <%= f.label :content, "Your idea" %><br>
          <%= f.text_area :content, class: 'form-control', placeholder: "I want to learn..." %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", class: 'btn btn-default' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
