<% if @contact.errors.any? %>
  <!-- <div class="container spacer"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> -->
        <% @contact.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
        <% end %>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<% end %>
<div class="home-bg">
  <div class="home-header">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
          <h1>Learn to code by designing and building your own projects</h1>
          <%= form_for(@contact, html: {class: 'form-inline spacer'} ) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: 'sr-only' %>
              <%= f.email_field :email, class: 'form-control', placeholder: 'linus.torvalds@example.com'  %>
            </div>

              <%= f.submit class: 'btn btn-success', value: 'Keep me informed'  %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container spacer-4">
  <div class="row impt-copy">
    <div class="col-md-12">
      <h2 class="home-subheading">Loris is an online technology program for middle- and high-school students.</h2>

      <h4 class="home-subheading spacer"><strong>You'll learn by coming up with your own ideas and making them real with code.</strong></h4>

    </div>
  </div>
  <div class="row spacer-2">
    <div class="col-md-8 col-md-offset-2">
      <section class="impt-copy">

        <p>It's not fun to work on projects created by other people. But designing your own projects from scratch can be hard. We're here to make sure you build something awesome.</p>

        <p>Our coaches will help you come up with interesting ideas, then give you support and practice so you get the skills to turn those ideas into reality.</p>

        <div class="row">
          <div class="col-md-6">
            <a href="/courses" class="btn btn-success btn-block btn-lg btn-home">Check out our classes</a>
          </div>
          <div class="col-md-6">
            <a class="btn btn-success btn-block btn-lg btn-home" href="<%= our_program_url %>">learn more about our program</a>
          </div>
        </div>
        <div class="program-skills">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-cogs"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Problem solving</h3>
              <p>Our coaching sessions give you the chance to problem solve with technology in real-world situations - always with a supportive coach guiding you towards better approaches.</p>
            </div>

          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-users"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Communication</h3>
              <p>You'll cement your understanding by talking through your thought process and presenting work to your peers.</p>
            </div>

          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Creativity</h3>
              <p>We've carefully created each course to teach you how to design and build your own unique technology projects.</p>
            </div>

          </div>
          <div class="media">
            <div class="media-left">
              <i class="fa fa-laptop"></i>
            </div>
            <div class="media-body">
              <h3 class="media-heading">Programming</h3>
              <p>Learn essential technology skills that you'll need for almost every career path in our rapidly-changing world.</p>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>

</div>
